Special name: name3
Metal type: 0
Currency name: RU
Count of currency: 70
Count of coins: 10

Special name: name2
Metal type: 1
Currency name: RU
Count of currency: 60
Count of coins: 20

Special name: name1
Metal type: 2
Currency name: RU
Count of currency: 50
Count of coins: 30

